body{
  width:470px;
  height:480px;
  border: solid 1px #dcdcdca4;
  border-right: solid 4px #dcdcdca4;
  border-bottom: solid 4px #dcdcdca4;
  border-radius: 10px;
  text-align: center;
  padding:8px;
  margin:20px;
}

input{
  width:100px;
  height:70px;
  font-size:x-large;
  background-color: lightgray;
  border:none;
  border-radius:5px;
  outline-color:blue;
  margin:5px;
}

.display{
  width:442px;
  text-align:right;
  color:black;
  background-color:lightgray;
}

input:hover {
    background: #747373b9;
}
.display:hover {
  background: lightgray;
}
input:active {
    background:  #5a5a5a;
} 

.zero{
  width:215px;
}
 
.equal{
  width:215px;
}
.clear{
  width:215px;
}
